@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard-thin";
  src: url("../public/fonts/pretendard/Pretendard-Thin.woff2");
}

@font-face {
  font-family: "pretendard-regular";
  src: url("../public/fonts/pretendard/Pretendard-Regular.woff2");
}

@font-face {
  font-family: "pretendard-bold";
  src: url("../public/fonts/pretendard/Pretendard-Bold.woff2");
}
